<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<array><string>1000</string><string>new-mail</string></array>
<array><string>1001</string><string>mail-sent</string></array>
<array><string>1002</string><string>Voicemail</string></array>
<array><string>1003</string><string>ReceivedMessage</string></array>
<array><string>1004</string><string>SentMessage</string></array>
<array><string>1005</string><string>alarm</string></array>
<array><string>1006</string><string>low_power</string></array>
<array><string>1007</string><string>sms-received1</string></array>
<array><string>1008</string><string>sms-received2</string></array>
<array><string>1009</string><string>sms-received3</string></array>
<array><string>1010</string><string>sms-received4</string></array>
<array><string>1012</string><string>sms-received1</string></array>
<array><string>1013</string><string>sms-received5</string></array>
<array><string>1014</string><string>sms-received6</string></array>
<array><string>1015</string><string>Voicemail</string></array>
<array><string>1016</string><string>tweet_sent</string></array>
<array><string>1020</string><string>Anticipate</string></array>
<array><string>1021</string><string>Bloom</string></array>
<array><string>1022</string><string>Calypso</string></array>
<array><string>1023</string><string>Choo_Choo</string></array>
<array><string>1024</string><string>Descent</string></array>
<array><string>1025</string><string>Fanfare</string></array>
<array><string>1026</string><string>Ladder</string></array>
<array><string>1027</string><string>Minuet</string></array>
<array><string>1028</string><string>News_Flash</string></array>
<array><string>1029</string><string>Noir</string></array>
<array><string>1030</string><string>Sherwood_Forest</string></array>
<array><string>1031</string><string>Spell</string></array>
<array><string>1032</string><string>Suspense</string></array>
<array><string>1033</string><string>Telegraph</string></array>
<array><string>1034</string><string>Tiptoes</string></array>
<array><string>1035</string><string>Typewriters</string></array>
<array><string>1036</string><string>Update</string></array>
<array><string>1050</string><string>ussd</string></array>
<array><string>1051</string><string>SIMToolkitCallDropped</string></array>
<array><string>1052</string><string>SIMToolkitGeneralBeep</string></array>
<array><string>1053</string><string>SIMToolkitNegativeACK</string></array>
<array><string>1054</string><string>SIMToolkitPositiveACK</string></array>
<array><string>1055</string><string>SIMToolkitSMS</string></array>
<array><string>1057</string><string>Tink</string></array>
<array><string>1070</string><string>ct-busy</string></array>
<array><string>1071</string><string>ct-congestion</string></array>
<array><string>1072</string><string>ct-path-ack</string></array>
<array><string>1073</string><string>ct-error</string></array>
<array><string>1074</string><string>ct-call-waiting</string></array>
<array><string>1075</string><string>ct-keytone2</string></array>
<array><string>1100</string><string>lock</string></array>
<array><string>1101</string><string>unlock</string></array>
<array><string>1103</string><string>Tink</string></array>
<array><string>1104</string><string>Tock</string></array>
<array><string>1105</string><string>Tock</string></array>
<array><string>1106</string><string>beep-beep</string></array>
<array><string>1107</string><string>RingerChanged</string></array>
<array><string>1108</string><string>photoShutter</string></array>
<array><string>1109</string><string>shake</string></array>
<array><string>1110</string><string>jbl_begin</string></array>
<array><string>1111</string><string>jbl_confirm</string></array>
<array><string>1112</string><string>jbl_cancel</string></array>
<array><string>1113</string><string>begin_record</string></array>
<array><string>1114</string><string>end_record</string></array>
<array><string>1115</string><string>jbl_ambiguous</string></array>
<array><string>1116</string><string>jbl_no_match</string></array>
<array><string>1117</string><string>begin_video_record</string></array>
<array><string>1118</string><string>end_video_record</string></array>
<array><string>1150</string><string>vc~invitation-accepted</string></array>
<array><string>1151</string><string>vc~ringing</string></array>
<array><string>1152</string><string>vc~ended</string></array>
<array><string>1153</string><string>ct-call-waiting</string></array>
<array><string>1154</string><string>vc~ringing</string></array>
<array><string>1200</string><string>dtmf-0</string></array>
<array><string>1201</string><string>dtmf-1</string></array>
<array><string>1202</string><string>dtmf-2</string></array>
<array><string>1203</string><string>dtmf-3</string></array>
<array><string>1204</string><string>dtmf-4</string></array>
<array><string>1205</string><string>dtmf-5</string></array>
<array><string>1206</string><string>dtmf-6</string></array>
<array><string>1207</string><string>dtmf-7</string></array>
<array><string>1208</string><string>dtmf-8</string></array>
<array><string>1209</string><string>dtmf-9</string></array>
<array><string>1210</string><string>dtmf-star</string></array>
<array><string>1211</string><string>dtmf-pound</string></array>
<array><string>1254</string><string>long_low_short_high</string></array>
<array><string>1255</string><string>short_double_high</string></array>
<array><string>1256</string><string>short_low_high</string></array>
<array><string>1257</string><string>short_double_low</string></array>
<array><string>1258</string><string>short_double_low</string></array>
<array><string>1259</string><string>middle_9_short_double_low</string></array>
<array><string>1300</string><string>Voicemail</string></array>
<array><string>1301</string><string>ReceivedMessage</string></array>
<array><string>1302</string><string>new-mail</string></array>
<array><string>1303</string><string>mail-sent</string></array>
<array><string>1304</string><string>alarm</string></array>
<array><string>1305</string><string>lock</string></array>
<array><string>1306</string><string>Tock</string></array>
<array><string>1307</string><string>sms-received1</string></array>
<array><string>1308</string><string>sms-received2</string></array>
<array><string>1309</string><string>sms-received3</string></array>
<array><string>1310</string><string>sms-received4</string></array>
<array><string>1312</string><string>sms-received1</string></array>
<array><string>1313</string><string>sms-received5</string></array>
<array><string>1314</string><string>sms-received6</string></array>
<array><string>1315</string><string>Voicemail</string></array>
<array><string>1320</string><string>Anticipate</string></array>
<array><string>1321</string><string>Bloom</string></array>
<array><string>1322</string><string>Calypso</string></array>
<array><string>1323</string><string>Choo_Choo</string></array>
<array><string>1324</string><string>Descent</string></array>
<array><string>1325</string><string>Fanfare</string></array>
<array><string>1326</string><string>Ladder</string></array>
<array><string>1327</string><string>Minuet</string></array>
<array><string>1328</string><string>News_Flash</string></array>
<array><string>1329</string><string>Noir</string></array>
<array><string>1330</string><string>Sherwood_Forest</string></array>
<array><string>1331</string><string>Spell</string></array>
<array><string>1332</string><string>Suspense</string></array>
<array><string>1333</string><string>Telegraph</string></array>
<array><string>1334</string><string>Tiptoes</string></array>
<array><string>1335</string><string>Typewriters</string></array>
<array><string>1336</string><string>Update</string></array>

</array>
</plist>
